/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles from here */

body {
    background-color: #5F7161;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

h1 {
    color: #EFEAD8;
    font-size: 5em;
}

#newBook {
    background-color: #D0C9C0;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 50px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 1);
}

#newBook:hover {
    background-color: #EFEAD8;
}

.popup {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    height: 700px;
    width: 450px;
    background: #EFEAD8;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #405244;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #5F7161;
}

.notCheckbox {
    margin: 30px auto;
    display: block;
    width: 80%;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
}

.checkbox {
    transform: scale(2);
    margin-bottom: 10px;
}

label {
    font-size: 22px;
    margin: 30px;
}

#saveBook {
    display: block;
    margin: 40px auto;
    padding: 20px 40px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #6D8B74;
    color: #fff;
    border: none;
}

#saveBook:hover {
    background-color: #5F7161;
}

#main {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.book {
    background-color: #EFEAD8;
    width: 340px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 20px;
    line-height: 2em;
}

.cover {
    width: 150px;
    height: auto;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.buttonsContainer > button {
    color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    width: 140px;
}

.removeButton {
    background-color: #9d361a;
}

.removeButton:hover {
    background-color: #732813;
}

.statusButton {
    background-color: #6D8B74;
}

.statusButton:hover {
    background-color: #405244;
}

.title {
    font-weight: bold;
    text-align: center;
}

.author {
    text-decoration: underline;
}